@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  @apply bg-gray-50 dark:bg-darkBg;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-200 dark:bg-gray-800 rounded-md border-2 border-solid border-gray-50 dark:border-darkBg;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-300 dark:bg-gray-700;
}
